*{
    padding:0;
    margin:0;
    outline:0;
}

.md-card {
    width: 320px;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    transition: all .5s ease-in-out;
    cursor: pointer;
    text-overflow: ellipsis;
}

.md-card:hover {
    transform: scale(1.05);
}


.note-view{
    width: 300px;
    height: 60vh;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.459);
    font-family: Roboto,Noto Sans,-apple-system,BlinkMacSystemFont,sans-serif;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    background: white;
}

.note-edit-date{
    align-self: center;
    opacity: .25;
    font-size: 14px;    
}

.note-edit-title{
    font-size: 36px;
    margin: 15px;
}

.note-edit-text{
    opacity: .54;
    font-size: 20px;
}


.color-picker-btn{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.459);
    transition: all 0.3s ease-in-out;
}
.color-picker-btn:hover{
    opacity: 0.8;
    transform: scale(1.1)
}



.color-picker-red{
    background: rgb(219, 82, 82)
}

.color-picker-white{
    background: rgb(255, 255, 255)
}

.color-picker-blue{
    background: rgb(81, 108, 226)
}

.color-picker-green{
    background: rgba(75, 250, 148, 0.801)
}

.email-side-list{
    max-width: 250px;
}

.email-list-title{
    font-size: 20px
    !important
}

.md-list-item-container span{
    text-align: right;
}

.md-layout-item, .md-layout-item.md-size{
    flex: 0;
}